.about_me {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.about_me_img {
  width: 110vh;
}

.about_me_msg {
  color: var(--main-back-ground-second);
  font-size: xx-large;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8rem;
}

.about_me_name {
  color: var(--main-blue-link);
  font-size: calc(45px + 2vmin);
}

.about_me_msg h2 {
    margin-top: -1em;
}

.about_me_description {
  font-size: 20px;
  width: 70vh;
}

.about_me_philosophy {
  color: var(--main-blue-link);
}

.container_btn_aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
}

.smooth_sec{
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .about_me {
    width: 33vh;
    font-size: small;
  }
  .about_me_img{
    width: 100%;
  }
  .about_me_msg{
    width: 30vh;
        margin-left: 0px;
  margin-right: 0px;
  }
  .about_me_msg h2{
    font-size: larger;
  }
  .about_me_description{
    width: 100%;
  }

}